/* custom-admin-colors.css */
#custom-admin-colors-settings-table td {
    padding: 0;
    
}

#custom-admin-colors-settings-table th {
    padding: 0;
}

#custom-admin-colors-settings-table {
    margin-top: 0;
}

span.wp-color-result-text {
    display: none;
}

button.button.wp-color-result {
    border-radius: 30px;
}

.form-table td{
    margin-bottom: 0;
}

tr {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.wp-picker-container .wp-color-result.button{
    margin: 0;
    margin-right: 15px;
}